.footer {
    background-color: #1a2633;
    color: #fff;
    position: relative;
    padding: 56px 0 48px;
    flex-shrink: 0;
    &-content {
        padding: 0 0 24px;
        position: relative;
        width: 100%;
        @media(min-width: 768px) {
            padding: 0 0 8px;
        }
    }
    &__logo {
        img {
            display: block;
            max-width: 140px;
            height: auto;
        }
    }
    &-menu {
        &.row {
            @media(min-width: 768px) {
                flex-wrap: nowrap;
                width: 100%;
            }
        }
        &__col {
            padding: 0 12px;
            flex-grow: 1;
            flex-basis: 100%;
            line-height: 15px;
            text-align: center;
            margin-bottom: 48px;
            &:first-child {
                margin-bottom: 56px;
                @media(min-width: 768px) {
                    margin-bottom: 24px;
                }
            }
            @media(min-width: 768px) {
                margin-bottom: 24px;
                text-align: left;
                -webkit-flex-basis: calc(100%/5);
                -ms-flex-preferred-size: calc(100%/5);
                flex-basis: calc(100%/5);
                &--cards,
                &--social {
                    flex-grow: 0;
                    flex-basis: 25%;
                    min-width: 25%;
                }
            }
        }
        &__subtitle {
            font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
            color: inherit;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 12px;
            @media(min-width: 768px) {
                font-size: 14px;
                line-height: 22px;
                text-align: left;
                margin-bottom: 24px;
            }
        }
        &__link {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                @media(max-width: 768px) {
                    margin: auto;
                }
            }
        }
    }
    &__logo {
        margin: 0;
        display: inline-block;
        margin: 0 auto 8px auto;
        opacity: .7;
        @media(min-width: 768px) {
            margin: 0 0 8px;
            max-width: 100%;
        }
    }
    &-bottom {
        &__copy {
            font-size: 13px;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding-top: 8px;
            line-height: 20px;
            opacity: .7;
        }
    }
    .social-block {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        a {
            margin-right: 16px;
        }
        @media(min-width: 768px) {
            justify-content: flex-start;
        }
    }
    .social-text {
        font-size: 13px;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 8px;
        opacity: .56;
    }
    &-separator {
        &>span {
            display: block;
            height: 1px;
            width: 100%;
            margin: 0 auto;
            background: rgba(255, 255, 255, .15);
        }
    }
    &-text {
        padding: 32px 0 0;
        opacity: .7;
        text-align: center;
        position: relative;
        &__col {
            font-size: 11px;
            color: inherit;
            letter-spacing: .05em;
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 50%;
            -ms-flex: 1 1 50%;
            flex: 1 1 50%;
        }
    }
    &-badges {
        display: none;
        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        &__image {
            padding: 0 8px;
            -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            max-width: calc(100%/6);
            text-align: center;
            @media(min-width: 992px) {
                padding: 0 24px;
            }
        }
        @media(min-width: 768px) {
            display: flex;
            padding: 32px 0 0;
        }
    }
}